<h1 class="main-heading">Browse recent job listings</h1>

<div class='job-card'>
  <div class="row">
    <div class="col-md-10 job-heading" data-id="1">
      <h3>ROR Fullstack developer</h3>
      <span><i class="glyphicon glyphicon-pushpin"></i>Hyderabad, Telangana</span>
      <br>
      <span><i class="glyphicon glyphicon-briefcase"></i>Full Stack Developer</span>
      <br>
     <span><i class="glyphicon glyphicon-time"></i>Posted on April 20, 2019</span> 
    </div>
    <div class="col-md-2 pull-right">
      <img src="https://pbs.twimg.com/profile_images/1017671700584980480/mD_TR13E.jpg", class="comp-logo">
      <%= link_to "Apply for Job", step1_wizard_path, class: 'btn btn-success' %>
    </div>
  </div>
</div>
<div id="job-description1">
  <p>
    <b>Primary Responsibilities</b>
    <ul>
      <li>Develop solutions per client requirements utilizing the full range of tools available on the Salesforce platform.</li>
      <li>Participate in requirements definition and solution design.</li>
      <li>Gain familiarity and understanding of the client's data and security models and requirements to ensure development decisions are in alignment.</li>
      <li>Assist business users with utilizing custom solutions on the platform as well as with Salesforce in general.</li>
      <li>Communicate and execute changes according to best practices and documented procedures.</li>
      <li>Provide Salesforce specific guidance to the client with regard to user administration and other general administrative practices.</li>
    </ul>

    <b>Nice to have, but not required</b>
    <ul>
      <li>Experience with the following or comparable systems</li>
      <li>CMS: Sitecore, Episerver, AEM, Drupal</li>
      <li>MAP: Marketing Cloud, Marketo, Hubspot, Pardot</li>
      <li>Analytics: GA, GTM, PowerBI, Tableau</li>
      <li>Ecommerce: Commerce Cloud, Magento, BigCommerce</li>
    </ul>
  </p>
</div>

<hr class="horizontal-line">

<div class='job-card'>
  <div class="row">
    <div class="col-md-10 job-heading" data-id="2">
      <h3>Java Backend developer</h3>
      <span><i class="glyphicon glyphicon-pushpin"></i>Hyderabad, Telangana</span>
      <br>
      <span><i class="glyphicon glyphicon-briefcase"></i>Full Stack Developer</span>
      <br>
     <span><i class="glyphicon glyphicon-time"></i>Posted on April 20, 2019</span> 
    </div>
    <div class="col-md-2 pull-right">
      <img src="https://pbs.twimg.com/profile_images/1017671700584980480/mD_TR13E.jpg", class="comp-logo">
      <%= link_to "Apply for Job", step1_wizard_path, class: 'btn btn-success' %>
    </div>
  </div>
</div>
<div id="job-description2">
  <p>
    <b>Primary Responsibilities</b>
    <ul>
      <li>Develop solutions per client requirements utilizing the full range of tools available on the Salesforce platform.</li>
      <li>Participate in requirements definition and solution design.</li>
      <li>Gain familiarity and understanding of the client's data and security models and requirements to ensure development decisions are in alignment.</li>
      <li>Assist business users with utilizing custom solutions on the platform as well as with Salesforce in general.</li>
      <li>Communicate and execute changes according to best practices and documented procedures.</li>
      <li>Provide Salesforce specific guidance to the client with regard to user administration and other general administrative practices.</li>
    </ul>

    <b>Nice to have, but not required</b>
    <ul>
      <li>Experience with the following or comparable systems</li>
      <li>CMS: Sitecore, Episerver, AEM, Drupal</li>
      <li>MAP: Marketing Cloud, Marketo, Hubspot, Pardot</li>
      <li>Analytics: GA, GTM, PowerBI, Tableau</li>
      <li>Ecommerce: Commerce Cloud, Magento, BigCommerce</li>
    </ul>
  </p>
</div>

<hr class="horizontal-line">

<div class='job-card'>
  <div class="row">
    <div class="col-md-10 job-heading" data-id="3">
      <h3>UI/UX designer</h3>
      <span><i class="glyphicon glyphicon-pushpin"></i>Hyderabad, Telangana</span>
      <br>
      <span><i class="glyphicon glyphicon-briefcase"></i>Full Stack Developer</span>
      <br>
     <span><i class="glyphicon glyphicon-time"></i>Posted on April 20, 2019</span> 
    </div>
    <div class="col-md-2 pull-right">
      <img src="https://pbs.twimg.com/profile_images/1017671700584980480/mD_TR13E.jpg", class="comp-logo">
      <%= link_to "Apply for Job", step1_wizard_path, class: 'btn btn-success' %>
    </div>
  </div>
</div>
<div id="job-description3">
  <p>
    <b>Primary Responsibilities</b>
    <ul>
      <li>Develop solutions per client requirements utilizing the full range of tools available on the Salesforce platform.</li>
      <li>Participate in requirements definition and solution design.</li>
      <li>Gain familiarity and understanding of the client's data and security models and requirements to ensure development decisions are in alignment.</li>
      <li>Assist business users with utilizing custom solutions on the platform as well as with Salesforce in general.</li>
      <li>Communicate and execute changes according to best practices and documented procedures.</li>
      <li>Provide Salesforce specific guidance to the client with regard to user administration and other general administrative practices.</li>
    </ul>

    <b>Nice to have, but not required</b>
    <ul>
      <li>Experience with the following or comparable systems</li>
      <li>CMS: Sitecore, Episerver, AEM, Drupal</li>
      <li>MAP: Marketing Cloud, Marketo, Hubspot, Pardot</li>
      <li>Analytics: GA, GTM, PowerBI, Tableau</li>
      <li>Ecommerce: Commerce Cloud, Magento, BigCommerce</li>
    </ul>
  </p>
</div>

