@import "bootstrap-sprockets";
@import "bootstrap";
@import "wizard";
@import "home";

body{
  // min-height: 100vh;
}

.has_error{
  color: #B71C1C;
}

.navbar-inverse {
  background-color: #2196F3;
  border-color: #03A9F4;
  .navbar-brand {
    color: white;
  }
  .navbar-nav {
    li {
      a{
        color: white;
      }
    }
  }
}


.footer{
  min-height: 10em;
  background: #F5F5F5;
  text-align: center;
  p{
    padding-top: 5em;
  }
}
